<div class='std-form'>
    {{yield}}
    {{#bs-form action=(action 'submit') model=model}}
        {{bs-form-element label="Title" property="title" controlType="text"}}
        {{bs-button defaultText="Create" type="primary" buttonType="submit"}}
    {{/bs-form}}
    <h3>Existing Categories</h3>
    {{comma-delimit model.categories 'title'}}
</div>
