<div class='std-form'>
    {{yield}}
    {{#bs-form action=(action 'submit')}}
        {{bs-button defaultText="Delete" type="primary" buttonType="submit"}}
        {{bs-button defaultText='Cancel' type="default" action="done"}}
    {{/bs-form}}
</div>
