{{#delete-form model=model action='deleted'}}
<h1>Delete Page Plugin</h1>
<p>
Are you sure you want to delete the page plugin <b>{{model.title}}</b>?
</p>
<label>Head markup</label>
<p>
    {{model.head_markup}}
</p>
<label>Body markup</label>
<p>
    {{model.body_markup}}
</p>
{{/delete-form}}
