{{#delete-form model=model action='deleted'}}
<h1>Delete Page</h1>
<p>
Are you sure you want to delete the page <b>{{model.title}}</b>?
</p>
<label>Content:</label>
<p>
    {{model.content}}
</p>
{{/delete-form}}
