{{#delete-form model=model action='done' done='done'}}
<h1>Delete Project Plugin</h1>
<p>
Are you sure you want to delete the project plugin <b>{{model.title}}</b>?
</p>
<label>Markup</label>
<p>
    {{model.markup}}
</p>
{{/delete-form}}
