{{#delete-form model=model action='done' done='done'}}
<h1>Delete Project</h1>
<p>
Are you sure you want to delete the project <b>{{model.title}}</b>?
</p>
<label>Description:</label>
<p>
    {{model.description}}
</p>
{{/delete-form}}
