{{#delete-form model=model action='deleted'}}
<h1>Delete Post</h1>
<p>
Are you sure you want to delete the post <b>{{model.title}}</b>?
</p>
<label>Content:</label>
<p>
{{model.content}}
</p>
{{/delete-form}}
